:root {
  --ease: cubic-bezier(.21, .1, .16, 1);
  --background-l0: hsl(250, 60%, 99%);
  --background-l1: hsl(250, 60%, 96%);
  --background-l2: hsl(250, 60%, 93%);
  --background-l3: hsl(250, 60%, 91%);
  --background-accent: hsl(250, 80%, 60%);

  --radius: 13px;
  --border: 1px solid hsl(250, 60%, 80%);
  --shadow: 0 6px 14px hsla(250, 60%, 0%, 0.102);

  --foreground-l0: hsl(250, 10%, 5%);
  --foreground-l1: hsl(250, 10%, 30%);
  --foreground-l2: hsl(250, 16%, 42%);

  font-family: Apfel Grotesk, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--background-l0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  user-select: none;

  color: var(--foreground-l1);
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background: var(--background-l0);
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}